* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;
}

.main-title {
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 20px;
}

.section-container {
    text-align: center;
}
.section-container .section {
    background-color: rgb(192, 191, 191);
    padding: 38px 10px 25px 10px;
    margin: 5px;
    position: relative;
    border: 1px solid black;
    width: 32%;
    display: inline-block;
}

.section p span {
    position:absolute;
    top: -1px;
    right: -1px;
    padding: 5px 10px;
    border: 1px solid black;
}

.title1 {
    background-color: rgb(224, 98, 98);
}

.title2 {
    background-color: rgba(223, 32, 32, 0.867);
}

.title3 {
    background-color: rgba(243, 167, 96, 0.867);
}

@media screen and (min-width: 992px) {
    .section-container .section {
        width: 32%;
    }
}

@media screen and (max-width: 1042px) and (min-width: 992px) {
    .section-container .section {
        width: 30%;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {

    .section:nth-child(1){
        width: 48.4%; 
    }
    .section:nth-child(2){
        width: 48.4%;

    }
    .section:nth-child(3){
        width: 99%;
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .section-container .section {
        display: block;
        width: 100%;
    }
}